.DS_Store*
*.aux*
*.log*
*.lof*
*.lot*
*.out*
*.gz*
*.toc*
*.bbl*
*.blg*
*~*
*.nlo*
*make*
*.d*
*.bcf*
*.blg*
*~*
*.nlo*
*make
*.d
*.btmp*
*.fls*
*.glo*
*.idx*
*.ist*
*.ilg*
*.ind*
*cookie*
*#*
*.nls*
*.nlg*
thesis.txt*
thesis.bcf*
thesis.run.xml*
*run.xml*
